body {
    background: #202124;
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Header styling */
.advanced-head-div {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 38px 20px;
}

.advanced-head-div-left > #logo {
    width: 80px;
}

.advanced-head-div-right > a:hover {
    text-decoration: underline;
}

.advanced-head-div-right > a {
    text-decoration: none;
    color: white;
    padding: 15px 5px 15px 15px;
    font-size: 13px;
}

/* 'Advanced Search' label styling */
.advanced-search-label {
    margin-left: 46px;
}

.advanced-search-label > label {
    color: #f28b82;
    font-size: 20px;
}

.label-left .label-right{
    color: #e8eaed;
}

.advanced-search-div {
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}

.advanced-search-item {
    clear: both;
}

/* Left side text styling */
.first-advanced-search-field {
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
    color: #bdc1c6;
}

.advanced-search-field-left {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

/* Center/Input styling */
.second-advanced-search-field {
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%
}

.advanced-search-field-center {
    padding-right: 16px;
}

.advanced-search-field-center > input {
    width: 100%;
    text-align: left;
    background: #202124;
    border: 1px solid #5f6368;
    color: #bdc1c6;
    border-radius: 1px;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}

/* Right side text styling */
.third-advanced-search-field {
    color: #969ba1;
    float: left;
    display: inline-block;
    width: 32%;
    min-width: 160px;
    margin: 0 0 8px 1%;
    font-size: 11px;
    padding-left: 5px;
    vertical-align: middle;
    position: relative;
}

.advanced-search-field-right {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

.advanced-search-field-right > span{
    color: #dadce0;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
}


/* Advanced Search button styling */
.advanced-search-button-item
{
    text-align: right;
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

.advanced-search-button-item > input {
    user-select: none;
    line-height: 100%;
    height: 30px;
    min-width: 120px;
    float: right;
    margin: 10px 0;
    padding: 0 12px;
    background: #8ab4f8;
    border-color: #8ab4f8;
    color: #202124;
    box-shadow: none;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    outline: 0;
}

.advanced-search-button-item > input:hover{
    border: 1px solid #2f5bb7;
    border-image: initial;
    background: #aecbfa;
}
